{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Отправить">
    </form>
    {% if trns %}
        <h2>Транзакции</h2>
            {% for trn in trns %}
            <div>
                <p>{{ trn.id }}. {{ trn.category }} {{ trn.subcategory }} -> 
                {{ trn.payment_method }} -> {{ trn.amount }} -> 
                {{ trn.created_at }}
                </p>
            </div>
            {% endfor %}
    {% endif %}
</div>
{% endblock content %}
